RewriteEngine on
RewriteRule ^songdep/$ index.php?p=cat&idLT=12 [L]
RewriteRule ^tools/$ index.php?p=cat&idLT=40 [L]

RewriteRule ^bv/(.*)\.html$ index.php?p=detail&TieuDe_KhongDau=$1

RewriteRule ^cat/(.*)/(.*)/$ index.php?p=cat&Ten_KhongDau=$1&pageNum=$2 [L]
RewriteRule ^cat/(.*)/$ index.php?p=cat&Ten_KhongDau=$1

RewriteRule ^tag/(.*)/(.*)/$ index.php?p=tag&tag=$1&pageNum=$2 [L]
RewriteRule ^tag/(.*)/$ index.php?p=tag&tag=$1

DirectoryIndex index.php
AddDefaultCharset UTF-8
Options -Indexes

RewriteRule ^lien-he/$  index.php?p=lienhe [L]	

Rewritebase /news/
RewriteRule ^vi/$  index.php?lang=vi [L]
RewriteRule ^en/$  index.php?lang=en [L]


# cache images và flash 30 ngày
<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf)$">
Header set Cache-Control "max-age=2592000"
</FilesMatch>
# cache text, css, và javascript, html files 1 tuần
<FilesMatch ".(js|css|pdf|txt|htm|html)$">
Header set Cache-Control "max-age=604800"
</FilesMatch>
# không cache scripts files
<FilesMatch "\.(php)$">
Header unset Cache-Control
</FilesMatch>





